<!DOCTYPE html>
<html xmlns xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
          rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">
    <title>알람등록하기</title>
</head>
<body>

<div class="container">

    <h1>알람등록하기</h1>
    <form name="alarm-register-form">
        <input type="hidden" name="alarmSchedule" id="alarmSchedule">
        <div class="mb-3">
            <label for="alarmTitle" class="form-label">알람명</label>
            <input type="text" class="form-control" name="alarmTitle" id="alarmTitle" placeholder="알람 이름을 입력해주세요">
        </div>

        <div class="mb-3">
            <label for="alarmTitle" class="form-label">알람내용</label>
            <input type="text" class="form-control" name="alarmContent" id="alarmContent" placeholder="알람 내용을 입력해주세요">
        </div>

        <div class='input-group' id='datetimepicker1' data-td-target-input='nearest' data-td-target-toggle='nearest'>
            <input
                    id='datetimepicker1Input'
                    type='text'
                    class='form-control'
                    data-td-target='#datetimepicker1'
                    placeholder="알람 발송 시간을 입력해주세요"/>
            <span
                    class='input-group-text'
                    data-td-target='#datetimepicker1'
                    data-td-toggle='datetimepicker'>
                <span class='fa-solid fa-calendar'></span>
            </span>
        </div>
        <br />
        <button type="button" class="btn btn-primary" onclick="registerAlarm()">알람등록하기</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>

        function registerAlarm() {

            const localTime = new Date(picker.viewDate.getTime() - (picker.viewDate.getTimezoneOffset() * 60000)).toISOString();
            $('#alarmSchedule').val(localTime);

            let alarmRegisterData = $("form[name=alarm-register-form]").serialize();

            console.log('alarmRegisterData => ', alarmRegisterData);

            $.ajax({
                url: "/alarm/register",
                data: alarmRegisterData,
                method: "POST"
            })
                // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                .done(function (res) {
                    console.log("res => ", res);

                    // TODO: redirect somewhere
                })
                // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                .fail(function (xhr, status, errorThrown) {
                    console.log("failed res => ", xhr);
                })
                //
                .always(function (xhr, status) {

                });
        }

        const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
            display: {
                components: {
                    seconds: false,
                    useTwentyfourHour: false,
                },
                icons: {
                    type: 'icons',
                    time: 'fa fa-solid fa-clock',
                    date: 'fa fa-solid fa-calendar',
                    up: 'fa fa-solid fa-arrow-up',
                    down: 'fa fa-solid fa-arrow-down',
                    previous: 'fa fa-solid fa-chevron-left',
                    next: 'fa fa-solid fa-chevron-right',
                    today: 'fa fa-solid fa-calendar-check',
                    clear: 'fa fa-solid fa-trash',
                    close: 'fas fa-solid fa-xmark'
                },
            },
        });
    </script>

</body>
</html>