<!doctype html>
<html>
<head>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://phantagram.cafe24.com">
    <meta property="og:title" content="펜타그램 알람사이트">
    <meta property="og:image" content="https://phantagram.cafe24.com/images/mdnf_logo.png">
    <meta property="og:description" content="펜타그램 알람사이트">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:locale" content="ko">
    <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link th:href="@{/css/alarm-schedule.css}" rel="stylesheet" />
    <link th:href="@{/css/fullcalendar.min.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/fullcalendar.min.js}"></script>
</head>
<body style="text-align: -webkit-center;">
    <br/>
    <h1>월별 펜타그램 알람 스케쥴 목록</h1>
    <div style="width:80%;"id="calendar"></div>

    <br/>
    <a href="/alarm/register">일정등록하기</a>
    <a href="/alarm/option">알람발송 설정하기</a>
    <script th:src="@{/js/alarm-schedule.js}"></script>
</body>
</html>