<!DOCTYPE html>
<html xmlns xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/tempus-dominus.css}" rel="stylesheet" />
    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquerysctipttop.css}" rel="stylesheet" />
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/tempus-dominus.js}"></script>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/dayjs.min.js}"></script>
    <script th:src="@{/js/timepicker-bs4.js}"></script>

    <title>알람등록하기</title>
</head>
<body>

    <div class="container">
        <br/><br/><br/>
        <h1>알람등록하기</h1>
        <form name="alarm-register-form">
            <div class="mb-3">
                <label for="alarmTitle" class="form-label">알람명</label>
                <input type="text" class="form-control" name="alarmTitle" id="alarmTitle" maxlength="20" placeholder="알람 이름을 입력해주세요(최대20자)">
            </div>
            <br />

            <div class="mb-3">
                <label for="alarmTitle" class="form-label">알람명</label>
                <textarea type="text" class="form-control" name="alarmContent" id="alarmContent" maxlength="100" placeholder="알람 내용을 입력해주세요"></textarea>
            </div>
            <br />

            <label for="notificationWay" class="form-label">알람 등록 방식을 선택해주세요</label>
            <select class="form-select" aria-label="Default select example" name="notificationWay" id="notificationWay" onchange="notificationWaySelectEvent()">
                <option value="SINGLE" selected>단건 알람 설정</option>
                <option value="ROTATE">반복 알람 설정</option>
            </select>
            <br />

            <div id="singleDiv">
                <label for="datetimepicker1" class="form-label">알람 발송 시간 설정</label>
                <div class='input-group' id='datetimepicker1' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                    <input
                            id='datetimepicker1Input'
                            type='text'
                            class='form-control'
                            data-td-target='#datetimepicker1'
                            placeholder="알람 발송 시간을 입력해주세요"/>
                    <span
                            class='input-group-text'
                            data-td-target='#datetimepicker1'
                            data-td-toggle='datetimepicker'>
                        <span class='fa-solid fa-calendar'></span>
                    </span>
                </div>
                <br />
            </div>

            <div id="rotateDiv" style="display: none">
                <label for="datetimepicker1" class="form-label">알람 발송 설정 (설정 시간 ~ 이번달까지 반복 설정!)</label>
                <div class="form-group col-6">
                    <label for="rotateSendTime">알람 발송 시간 설정</label>
                    <input type="text" id="rotateSendTime" class="form-control" name="rotateSendTime" autocomplete="off" />
                </div>

                <div class="form-group col-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox" name="day_check_box" value="1">
                        <label class="form-check-label" for="dayCheckBox">월</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox2" name="day_check_box" value="2">
                        <label class="form-check-label" for="dayCheckBox2">화</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox3" name="day_check_box" value="3">
                        <label class="form-check-label" for="dayCheckBox3">수</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox4" name="day_check_box" value="4">
                        <label class="form-check-label" for="dayCheckBox4">목</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox5" name="day_check_box" value="5">
                        <label class="form-check-label" for="dayCheckBox5">금</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox6" name="day_check_box" value="6">
                        <label class="form-check-label" for="dayCheckBox6">토</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dayCheckBox7" name="day_check_box" value="7">
                        <label class="form-check-label" for="dayCheckBox7">일</label>
                    </div>
                </div>
                <br />
            </div>

            <button type="button" class="btn btn-primary" onclick="registerAlarm()">알람등록하기</button>
        </form>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/alarm-register-form.js}"></script>

</body>
</html>